﻿
@model SchoolSystem.ViewModel.ViewModel.StudentPaymentFM


@Html.Raw(TempData["success"])


<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "StudentPayment", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(e => e.Id);


        <fieldset class="scheduler-border">
            <legend class="scheduler-border">البيانات الأساسية</legend>
            <div class="row">
                @*<div class="form-group row col-6">
            <label class="col-5 col-form-label">رقم المستند</label>
            <div class="col-7">
                @Html.HiddenFor(e => e.DocNo)
                @Html.EditorFor(e => e.DocNo, new { htmlAttributes = new { @class = "form-control", required = "required", disabled = "disabled", @readonly = "readonly" } })
                @Html.ValidationMessageFor(e => e.DocNo, "", new { @class = "text-danger" })
            </div>
        </div>*@


                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">الطالب</label>
                    <div class="col-7">
                        @Html.DropDownListFor(x => Model.StudentId, (List<SelectListItem>)ViewBag.QualificationList, new { @class = "form-control select2", @required = "required" , @onchange ="getPaymentDetails(this.value)" })

                        @*@Html.DropDownListFor(e => e.StudentId, (SelectList)ViewBag.Students, "-- أختر --", new
                {
                    @class = "form-control select2"

                                 ,
                    @tabindex = "-1",
                    @aria_hidden = "true"
                                 ,
                    @required = "required"
                })*@
                        @Html.ValidationMessageFor(e => e.StudentId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">تاريخ المستند</label>
                    <div class="col-7">
                        <input type="text" class="form-control" id="VoucherDate" name="VoucherDate" />
                        @*@Html.EditorFor(e => e.VoucherDate, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date" } })*@
                        <script type="text/javascript">
                            $('#VoucherDate').val(toDateStr(new Date(@Model.VoucherDate)));
                        </script>
                        @Html.ValidationMessageFor(e => e.VoucherDate, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">قيمة الدفعة</label>
                    <div class="col-7">
                        @Html.EditorFor(e => e.PaymentValue, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "number" } })
                        @Html.ValidationMessageFor(e => e.PaymentValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">إدراج الضريبة المضافة</label>
                    <div class="col-7">
                        <input type="checkbox" class="form-control" value="1" id="HasVAT" name="HasVAT" />
                        @*@Html.CheckBoxFor(e => e.VAT, new { @class = "form-control" })*@
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">الأجمالي بعد الضريبة</label>
                    <div class="col-7">
                        @Html.EditorFor(e => e.TotalAfterVAT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-5 col-form-label">ملاحظات</label>
                    <div class="col-7">
                        @Html.TextAreaFor(e => e.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(e => e.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </fieldset>
        @*<fieldset class="scheduler-border">
                <legend class="scheduler-border">المدفوعات المستحقة</legend>
                <table class="table">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>رسوم التسجيل</th>
                            <th>رسوم الدراسة</th>
                            <th>رسوم الباص</th>
                            <th>رسوم أضافية</th>
                            <th>رسوم مرحلة</th>
                            <th>الخصم</th>
                            <th>الأجمالي</th>
                            <th>المدفوع</th>
                            <th>المسترد</th>
                            <th>المتبقي</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="RegisterFees">@Model.StudentFees.RegisterFees</td>
                            <td class="StudyFees">@Model.StudentFees.StudyFees</td>
                            <td class="TransportationFees">@Model.StudentFees.TransportationFees</td>
                            <td class="AdditionalFees">@Model.StudentFees.AdditionalFees</td>
                            <td class="PreviousFees">@Model.StudentFees.PreviousFees</td>
                            <td class="DiscountPercentage">@Model.StudentFees.DiscountPercentage</td>
                            <td class="Total">@Model.StudentFees.Total</td>
                            <td class="Paid">@Model.StudentFees.Paid</td>
                            <td class="Refunded">@Model.StudentFees.Refunded</td>
                            <td class="Remaining">@Model.StudentFees.Remaining</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>*@
        <div id="Fees">

        </div>
        <div>
            المدفوعات السابقة
            <div id="PaymentDetails">

            </div>
        </div>
        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("All",new { pageIndex = 1 })" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true      ,
            dir: "rtl",
            
        });




</script>
<script>
    $(function () {
        $("#VoucherDate").datepicker().datepicker("setDate", new Date());;

    });
</script>
    <script type="text/javascript">
        function getPaymentDetails(Id) {

          

            $.ajax({
                url: '/StudentPayment/Details/',
                data: { StudentId: Id },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#PaymentDetails").html(data);
                    //renderFees(data);
                }
            });

        };
        $(function () {
            $('#HasVAT').click(function () {
                var payValue = $('#PaymentValue').val();
                var isChecked = $(this).is(':checked');
                if (isChecked) {
                    $('#TotalAfterVAT').val(payValue * 1.05);
                }
                else {
                    $('#TotalAfterVAT').val(payValue);
                }
            });
            //////////////////////////////////////////
            $('#PaymentValue').change(function () {
                var payValue = $(this).val();
                var hasVat = $('#HasVAT').is(':checked');
                if (hasVat) {
                    $('#TotalAfterVAT').val(payValue * 1.05);
                }
                else {
                    $('#TotalAfterVAT').val(payValue);
                }
            });
            //////////////////////////////////////////


            // CallChangefunc(Id) {
            //    $.ajax({
            //        url: "/Events/GetRegion/" + Id,
            //        contentType: 'application/html ; charset:utf-8',
            //        type: 'GET',
            //        dataType: 'html',
            //        success: function (result) {

            //            $("#divNeighbourhood").html(result);
            //            $("#preholder").hide();
            //        },
            //        error: function (result) {

            //            $("#divNeighbourhood").html("");
            //            $("#preholder").hide();
            //        }
            //    });
            //}
            $('#StudentId').change(function () {
                var StudentId = $(this).val();
                if (StudentId > 0) {
                    $.ajax({
                        url: '/StudentPayment/GetFees/?StudentId=' + StudentId,
                        contentType: 'application/html ; charset:utf-8',
                        type: 'GET',
                        dataType: 'html',
                        success: function (data) {
                            $("#Fees").html(data);
                            //renderFees(data);
                        }
                    });
                }
            });
            //function renderFees(data) {
            //    $('td.RegisterFees').html(data.RegisterFees);
            //    $('td.StudyFees').html(data.StudyFees);
            //    $('td.TransportationFees').html(data.TransportationFees);
            //    $('td.AdditionalFees').html(data.AdditionalFees);
            //    $('td.PreviousFees').html(data.PreviousFees);
            //    $('td.DiscountPercentage').html(data.DiscountPercentage);
            //    $('td.Total').html(data.Total);
            //    $('td.Paid').html(data.Paid);
            //    $('td.Refunded').html(data.Refunded);
            //    $('td.Remaining').html(data.Remaining);
            //}
        });
    </script>
}
