﻿
@model SchoolSystem.ViewModel.ViewModel.BranchOfUserFM


@{
    Layout = "~/Views/Shared/_LayoutBranches.cshtml";
}

<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("BranchOfUser", "UserBranches", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم الفرع</label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchesList, new { @class = "form-control select2 ", @required = "required" })
            </div>
        </div>


        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
        </div>
    }
    <div class="clearfix"></div>
</div>



@section Scripts {
<script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true   ,
            dir: "rtl",
            

        });



</script>
    }