﻿
@model SchoolSystem.ViewModel.ViewModel.BranchOfUserFM




<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "UserBranches", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم المستخدم</label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.UserId, (List<SelectListItem>)ViewBag.UserList, new { @class = "form-control select2" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الفرع </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchList, new { @class = "form-control select2" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","UserBranches")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true,
            right: 0

        });



    </script>
    }
