﻿
@model SchoolSystem.ViewModel.ViewModel.RegistrationStudentFM


<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "RegistrationStudent", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);



     


        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
            <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:160px;">المرحلة والفصل</legend>
            <br />
            <div class="row">
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم المرحلة</label>
                    <div class="col-9">
                        @*@Html.DropDownListFor(model => model.StageId, (SelectList)ViewBag.Stage, "-- أختر --", new
                            {
                                @class = "form-control select2"

                                        ,
                                @tabindex = "-1",
                                @aria_hidden = "true",
                                required = "required",
                                @onchange = "getEducationalGradeList(this.value) ;getEducationAndRegistFees()"
                            })*@
                        @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new
                        {
                            @class = "form-control select2",
                            @onchange = "getEducationalGradeList(this.value)"
                        })

                        @Html.ValidationMessageFor(model => model.StageId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">الصف الدراسى </label>
                    <div class="col-9">
                        @*@Html.DropDownListFor(model => model.EducationalGradeId, (SelectList)ViewBag.EducationalGrade, "-- أختر --", new
                            {
                                @class = "form-control select2"

                                        ,
                                @tabindex = "-1",
                                @aria_hidden = "true",
                                required = "required",
                                @onchange = "getClassList(this.value)"
                            })*@

                        @Html.DropDownListFor(x => Model.EducationalGradeId, (List<SelectListItem>)ViewBag.EducationalGradeList, new { @class = "form-control select2", @onchange = "getClassList(this.value); getEducationAndRegistFees()" })

                        @Html.ValidationMessageFor(model => model.EducationalGradeId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم الفصل</label>
                    <div class="col-9">
                        @Html.DropDownListFor(x => Model.ClassId, (List<SelectListItem>)ViewBag.ClassList, new { @class = "form-control select2" })

                        @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </fieldset>



        <br />

        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
            <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:170px;">البيانات الاساسية</legend>
            <div class="row">
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم الطالب</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.StuNameAr, new { @class = "form-control", required = "required" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم الأب</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.ParentNameAr, new { @class = "form-control", required = "required" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم الجد</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.GrandfatherNameAr, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم العائلة</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.FamilyNameAr, new { @class = "form-control", required = "required" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">تاريخ الميلاد </label>
                    <div class="col-9">
                        <input type="text" name="BirtheDate" required id="BirtheDate" class="form-control"  value="@Model.BirtheDate" />
                        @*@Html.EditorFor(model => model.BirtheDate, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.BirtheDate, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">الجنسية  </label>
                    <div class="col-9">
                        @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new { @class = "form-control select2" })

                        @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">النوع  </label>
                    <div class="col-9">

                        @Html.Label("ذكر") @Html.RadioButtonFor(m => m.GenderType, 0, new { @checked = true })
                        @Html.Label("أنثي")  @Html.RadioButtonFor(m => m.GenderType, 1)
                    </div>
                </div>



            </div>
        </fieldset>

        <br />
        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
            <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:170px;"> الإشتراك والرسوم </legend>
            <div class="row">

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">اسم الباص  </label>
                    <div class="col-9">
                        @*@Html.DropDownListFor(model => model.BusId, (SelectList)ViewBag.Bus, "-- أختر --", new
                            {
                                @class = "form-control select2"

                                        ,
                                @tabindex = "-1",
                                @aria_hidden = "true",
                                required = "required"
                            })*@
                        @Html.DropDownListFor(x => Model.BusId, (List<SelectListItem>)ViewBag.BusList, new { @class = "form-control select2" })

                        @Html.ValidationMessageFor(model => model.BusId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">نوع التذكره  </label>
                    <div class="col-9">
                        @*@Html.DropDownListFor(model => model.BusSubscriptionFeesTypeId, (SelectList)ViewBag.BusSubscriptionFees, "-- أختر --", new
                            {
                                @class = "form-control select2"

                                             ,
                                @tabindex = "-1",
                                @aria_hidden = "true",
                                required = "required",
                                @onchange = "GetTransportationFees()"
                            })*@
                        @Html.DropDownListFor(x => Model.BusSubscriptionFeesTypeId, (List<SelectListItem>)ViewBag.BusSubscriptionFeesTypeList, new { @class = "form-control select2", @onchange = "GetTransportationFees()" })


                        @Html.ValidationMessageFor(model => model.BusSubscriptionFeesTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> رسوم التسجيل</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.RegisterFees, new { @class = "form-control select2", @readonly = "readonly", @type = "number", @min = "0", @step = "0.01", @value = "0" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> رسوم الدراسة</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.StudyFees, new { @class = "form-control", @readonly = "readonly", @type = "number", @min = "0", @step = "0.01", @value = "0" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> رسوم إضافية </label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.AdditionalFees, new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0", @onchange = "CalcTotal();" })
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> قيمة الخصم </label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.DiscountPercentage, new
                        {
                            @class = "form-control",
                            @type = "number",
                            @min = "0",
                            @step = "0.01",
                            @value = "0",
                            @onchange = "CalcTotal();"
                        })
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> رسوم المواصلات</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.TransportationFees, new { @class = "form-control select2", @readonly = "readonly", @type = "number", @min = "0", @step = "0.01", @value = "0" })
                    </div>
                </div>
                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> الإجمالي</label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.Total, new { @class = "form-control", @readonly = "readonly", @type = "number", @min = "0", @step = "0.01", @value = "0" })
                    </div>
                </div>

            </div>
        </fieldset>

        <br />

        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
            <legend class="scheduler-border" style="margin-right:460px; background-color:cadetblue; width:70px;"> السجل  </legend>

            <div class="row">

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> رقم السجل  </label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.RecordNumber, new { @class = "form-control", required = "required" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> تاريخ التسجيل   </label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="RegistrationDate" name="RegistrationDate" value="@Model.RegistrationDate" required />
                        @*@Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> الحى   </label>
                    <div class="col-9">
                        @*@Html.DropDownListFor(model => model.DistrictId, (SelectList)ViewBag.District, "-- أختر --", new
                            {
                                @class = "form-control select2"

                                        ,
                                @tabindex = "-1",
                                @aria_hidden = "true",
                                required = "required"
                            })*@
                        @Html.DropDownListFor(x => Model.DistrictId, (List<SelectListItem>)ViewBag.DistrictList, new { @class = "form-control select2" })

                        @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">  حالة الطالب  </label>
                    <div class="col-9">

                        @Html.Label("مستجد") @Html.RadioButtonFor(m => m.EnrollmentStatus, 0, new { @checked = true })
                        @Html.Label("مرفع")  @Html.RadioButtonFor(m => m.EnrollmentStatus, 1)
                        @Html.Label("مفصول")  @Html.RadioButtonFor(m => m.EnrollmentStatus, 2)
                    </div>
                </div>

            </div>
        </fieldset>

        <br />

        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
            <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:150px;"> بيانات التواصل  </legend>

            <div class="row">

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label"> تليفون الأب </label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.FatherPhone, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">تليفون الأم </label>
                    <div class="col-9">
                        @Html.TextBoxFor(i => i.MotherPhone, new { @class = "form-control" })
                    </div>
                </div>



                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">العنوان التفصيلى </label>
                    <div class="col-9">
                        @Html.TextAreaFor(i => i.Address, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row col-6">
                    <label class="col-3 col-form-label">الملاحظات  </label>
                    <div class="col-9">
                        @Html.TextAreaFor(i => i.Address, new { @class = "form-control" })
                    </div>
                </div>


            </div>
        </fieldset>


        <br />


        if (ViewBag.Edit == 1)
        {
            @Html.Action("EditAttachment", new { Id = Model.Id })
        }
        else
        {
            <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">

                <legend class="scheduler-border" style="margin-right:460px; background-color:cadetblue; width:90px;"> المرفقات  </legend>

                <div class="row">
                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">الصورة  </label>
                        <div class="col-9 row">
                            <div class="col-8">
                                <input type="file" name="ImageFile11" id="ImageFile11" class="form-control" onclick="document.getElementById('ImageFile11')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg11'),0);" />

                            </div>
                            <div class="col-4">
                                <div style="text-align:right;width:200px;">
                                    <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('Image11');"></i>
                                </div>
                                <img id="ImageImg11" width="150" height="150" onerror="this.src='/ModelImages/noImage.gif';" onclick="document.getElementById('ImageFile11').click()" class="img-thumbnail" title="click to change" />

                            </div>
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">وصف المرفق </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="Descroption1" name="Descroption1" />
                        </div>
                    </div>
                    <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />



                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">الصورة  </label>
                        <div class="col-9 row">
                            <div class="col-8">
                                <input type="file" name="ImageFile21" id="ImageFile21" class="form-control" onclick="document.getElementById('ImageFile21')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg21'),1);" />

                            </div>
                            <div class="col-4">
                                <div style="text-align:right;width:200px;">
                                    <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile21');"></i>
                                </div>
                                <img id="ImageFile21" width="150" height="150" onerror="this.src='/ModelImages/noImage.gif';" onclick="document.getElementById('ImageFile21').click()" class="img-thumbnail" title="click to change" />

                            </div>

                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">وصف المرفق </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="Descroption2" name="Descroption2" />
                        </div>
                    </div>


                    <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />

                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">الملف  </label>
                        <div class="col-9 row">
                            <div class="col-8">
                                <input type="file" name="ImageFile31" id="ImageFile31" class="form-control" onclick="document.getElementById('ImageFile31')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg31'),2);" />

                            </div>
                            <div class="col-4">
                                <div style="text-align:right;width:200px;">
                                    <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile31');"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">وصف المرفق </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="Descroption3" name="Descroption3" />
                        </div>
                    </div>

                    <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">الملف  </label>
                        <div class="col-9 row">
                            <div class="col-8">
                                <input type="file" name="ImageFile41" id="ImageFile41" class="form-control" onclick="document.getElementById('ImageFile41')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg41'),3);" />

                            </div>
                            <div class="col-4">
                                <div style="text-align:right;width:200px;">
                                    <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile41');"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">وصف المرفق </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="Descroption4" name="Descroption4" />
                        </div>
                    </div>


                    <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">الملف  </label>
                        <div class="col-9 row">
                            <div class="col-8">
                                <input type="file" name="ImageFile51" id="ImageFile51" class="form-control" onclick="document.getElementById('ImageFile51')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg51'),4);" />

                            </div>
                            <div class="col-4">
                                <div style="text-align:right;width:200px;">
                                    <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile51');"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row col-12">
                        <label class="col-3 col-form-label">وصف المرفق </label>
                        <div class="col-9">
                            <input type="text" class="form-control" id="Descroption5" name="Descroption5" />
                        </div>
                    </div>

                </div>
            </fieldset>

        }
        <br />
        <br />
        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>

<script>

    function getEducationalGradeList(stageId) {
        stageId = stageId ? stageId : 0;

        $.ajax
            ({
                url: '/RegistrationStudent/GetEducationalGradeList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: stageId
                }),
                success: function (result) {
                    $("#EducationalGradeId").html("");
                   
                    $("#ClassId").html("");
                    
                    $.each((result), function (i, edu) {

                        $("#EducationalGradeId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }

    function getClassList(classId) {
        classId = classId ? classId : 0;

        $.ajax
            ({
                url: '/RegistrationStudent/GetClassesByEduGradeIdList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: classId
                }),
                success: function (result) {
                    $("#ClassId").html("");
                  
                    $.each((result), function (i, edu) {

                        $("#ClassId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }


    function getEducationAndRegistFees() {
        var EducationalGradeId = $("#EducationalGradeId").val() ? $("#EducationalGradeId").val() : 0;

        $("#RegisterFees").val("0");
        $("#StudyFees").val("0");
        CalcTotal();
        $.ajax
            ({
                url: '/RegistrationStudent/GetEducationFees',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    EducationalGradeId: EducationalGradeId


                }),

                success: function (result) {





                    if (result != undefined && result != null) {
                        $("#RegisterFees").val(result.RegistrationFeesAmount);
                        $("#StudyFees").val(result.EducationFeesAmount);

                    }


                    CalcTotal();
                },
                error: function () {
                    // alert("Whooaaa! Something went wrong..")
                },
            });
    }


    function GetTransportationFees() {


        var BusSubscriptionFeesTypeId = $("#BusSubscriptionFeesTypeId").val() ? $("#BusSubscriptionFeesTypeId").val() : -1;
        $("#TransportationFees").val("0");
        CalcTotal();
        $.ajax
            ({
                url: '/RegistrationStudent/GetTransportationFees',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({

                    BusSubscriptionFeesTypeId: BusSubscriptionFeesTypeId

                }),
                success: function (result) {





                    if (result != undefined && result != null) {
                        $("#TransportationFees").val(result);


                    }

                    CalcTotal();

                },
                error: function () {
                    // alert("Whooaaa! Something went wrong..")
                },
            });
    }


    function CalcTotal() {
        debugger;
        TransportationFeesva = $("#TransportationFees").val() ? $("#TransportationFees").val() : 0;
        RegisterFeesva = $("#RegisterFees").val() ? $("#RegisterFees").val() : 0;
        StudyFeesva = $("#StudyFees").val() ? $("#StudyFees").val() : 0;
        AdditionalFeesva = $("#AdditionalFees").val() ? $("#AdditionalFees").val() : 0;
        DiscountPercentageva = $("#DiscountPercentage").val() ? $("#DiscountPercentage").val() : 0;


        resultva = (eval(TransportationFeesva) + eval(RegisterFeesva) + eval(StudyFeesva) + eval(AdditionalFeesva));
        // descountvalu=(eval(resultva)*eval(DiscountPercentageva))/100;
        netresultva = eval(resultva) - eval(DiscountPercentageva);

        $("#Total").val(netresultva);
    }

</script>




@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true   ,
            dir: "rtl",
        });



    </script>
    <script type="text/javascript">
        
          
    </script>
}
    <script>
        $(function () {
            $("#BirtheDate").datepicker().datepicker("setDate", new Date());
            $("#RegistrationDate").datepicker().datepicker("setDate", new Date());

        });
    </script>

<script type="text/javascript">
    function DeleteImage(id) {
        $("#" + id).val('');
        $("#ImageImg11").prop("src", "/ModelImages/noImage.gif");
    }
    function fileCheck(obj) {
        //   var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        //  if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
        //alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        //}
    }

    function readFileid(v, d, i) {
        debugger;
        if (v.files && v.files[0]) {
            var FR = new FileReader();
            FR.addEventListener("load", function (e) {
                d.src = e.target.result;
            });
            FR.readAsDataURL(v.files[0]);
        }

    }
</script>