﻿@model IEnumerable<SchoolSystem.ViewModel.ViewModel.StudientAttachementVM>



                         @if (Model.Count() != 0)
                         {
<fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">

    <legend class="scheduler-border" style="margin-right:460px; background-color:cadetblue; width:90px;"> المرفقات  </legend>

    <div class="row">
                           @Html.Hidden(Model.FirstOrDefault().Id.ToString())
        
        <div class="form-group row col-12">
            <label class="col-3 col-form-label">الصورة  </label>
            <div class="col-9 row">
                <div class="col-8">
                    <input type="text" value="@Model.FirstOrDefault().Id" name="Id1" id="Id1" hidden   />
                    <input type="file" name="ImageFile11" value="@Model.FirstOrDefault().Image" id="ImageFile11" class="form-control" onclick="document.getElementById('ImageFile11')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg11'),0);" />

                </div>
                <div class="col-4">
                    <div style="text-align:right;width:200px;">
                        <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('Image11');"></i>
                    </div>
                    <img id="ImageImg11" width="150" src="~/@Model.FirstOrDefault().Image" height="150"  onclick="document.getElementById('ImageFile11').click()" class="img-thumbnail" title="click to change" download />






                </div>
            </div>
        </div>


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">وصف المرفق </label>
            <div class="col-9">
                <input type="text" class="form-control" id="Descroption1" value="@Model.FirstOrDefault().Description" name="Descroption1" />
            </div>
        </div>
        <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">الملف  </label>
            <div class="col-9 row">
                <div class="col-8">
                    <input type="text" value="@Model.Skip(1).FirstOrDefault().Id" name="Id2" id="Id2" hidden />

                    <input type="file" name="ImageFile21" value="@Model.Skip(1).FirstOrDefault().Image" id="ImageFile21" class="form-control" onclick="document.getElementById('ImageFile21')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg21'),1);" />

                </div>
                <div class="col-4">
                    <div style="text-align:right;width:200px;">
                        <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile21');"></i>
                    </div>
                    <a href="~/@Model.Skip(1).FirstOrDefault().Image">تنزيل الملف</a>

                </div>

            </div>
        </div>


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">وصف المرفق </label>
            <div class="col-9">
                <input type="text" class="form-control" value="@Model.Skip(1).FirstOrDefault().Description" id="Descroption2" name="Descroption2" />
            </div>
        </div>


        <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />

        <div class="form-group row col-12">
            <label class="col-3 col-form-label">الملف  </label>
            <div class="col-9 row">
                <div class="col-8">
                    <input type="text" value="@Model.Skip(2).FirstOrDefault().Id" name="Id3" id="Id3" hidden />

                    <input type="file" name="ImageFile31" value="@Model.Skip(2).FirstOrDefault().Image" id="ImageFile31" class="form-control" onclick="document.getElementById('ImageFile31')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg31'),2);" />

                </div>
                <div class="col-4">
                    <div style="text-align:right;width:200px;">
                        <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile31');"></i>
                    </div>
                    <a href="~/@Model.Skip(2).FirstOrDefault().Image">تنزيل الملف</a>
                </div>
            </div>
        </div>


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">وصف المرفق </label>
            <div class="col-9">
                <input type="text" class="form-control" @Model.Skip(2).FirstOrDefault().Description id="Descroption3" name="Descroption3" />
            </div>
        </div>

        <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">الملف  </label>
            <div class="col-9 row">
                <div class="col-8">
                    <input type="text" value="@Model.Skip(3).FirstOrDefault().Id" name="Id4" id="Id4" hidden />

                    <input type="file" name="ImageFile41" value="@Model.Skip(3).FirstOrDefault().Image" id="ImageFile41" class="form-control" onclick="document.getElementById('ImageFile41')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg41'),3);" />

                </div>
                <div class="col-4">
                    <div style="text-align:right;width:200px;">
                        <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile41');"></i>
                    </div>
                    <a href="~/@Model.Skip(3).FirstOrDefault().Image">تنزيل الملف</a>
                </div>
            </div>
        </div>


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">وصف المرفق </label>
            <div class="col-9">
                <input type="text" class="form-control" value="@Model.Skip(3).FirstOrDefault().Description" id="Descroption4" name="Descroption4" />
            </div>
        </div>


        <hr class="style-seven" style="overflow: visible !important;
    height: 20px !important;
    border-style: solid !important;
    border-color: black !important;
    border-width: 1px 0 0 0 !important;
    border-radius: 20px !important;
    width: 90%; margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;" />


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">الملف  </label>
            <div class="col-9 row">
                <div class="col-8">
                    <input type="text" value="@Model.Skip(4).FirstOrDefault().Id" name="Id5" id="Id5" hidden />

                    <input type="file" name="ImageFile51" value="@Model.Skip(4).FirstOrDefault().Image" id="ImageFile51" class="form-control" onclick="document.getElementById('ImageFile51')" onchange="fileCheck(this); readFileid(this, document.getElementById('ImageImg51'),4);" />

                </div>
                <div class="col-4">
                    <div style="text-align:right;width:200px;">
                        <i class="fa fa-times" aria-hidden="true" onclick="DeleteImage('ImageFile51');"></i>
                    </div>
                    <a href="~/@Model.Skip(4).FirstOrDefault().Image">تنزيل الملف</a>
                </div>
            </div>
        </div>


        <div class="form-group row col-12">
            <label class="col-3 col-form-label">وصف المرفق </label>
            <div class="col-9">
                <input type="text" class="form-control" value="@Model.Skip(4).FirstOrDefault().Description" id="Descroption5" name="Descroption5" />
            </div>
        </div>





    </div>
</fieldset>
                         }
