﻿@using SchoolSysteam.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>برنامج الإدارة المدرسية</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style>
        html {
            background: url('@Url.Content("~/assets/images/school-bg.jpg")') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <body dir="rtl">
        <nav class="navbar navbar-dark bg-dark">
            <form class="form-inline" method="post">
                                                       <table>
                                                           <tr>
                                                               <td>
                                                                   <div >
                                                                       <label class="sr-only" for="inputUserName">أسم المستخدم</label>
                                                                       <input type="text" class="form-control " id="UserName" name="UserName" placeholder="أسم المستخدم" required>


                                                                   </div>
                                                               </td>
                                                               <td>
                                                                   <div>
                                                                       <label class="sr-only" for="inputPassword">كلمة السر</label>
                                                                       <input type="password" class="form-control" id="Password" name="Password" placeholder="كلمة السر" required>
                                                                   </div>
                                                               </td>
                                                               <td>
                                                                   <input class="form-check-input" type="checkbox" id="inlineFormCheck">&nbsp;
                                                                   <label class="form-check-label" for="inlineFormCheck" style="margin-right:10px;margin-left:10px;color:whitesmoke;">
                                                                       تذكرني
                                                                   </label>&nbsp;
                                                               </td>
                                                               <td>
                                                                   <input type="submit" class="btn btn-outline-light my-2 my-sm-0" style="margin-right:10px;" value="دخول" />

                                                               </td>
                                                           </tr>
                                                       </table>
                                              <div class="col-md-12">
                                                 
                                                
                                                  @*<div class="col-md-3">
                                                      <label class="sr-only" for="inputPassword">كلمة السر</label>
                                                      <input type="password" class="form-control mb-2 mr-sm-2" id="Password" name="Password" placeholder="كلمة السر" required>
                                                  </div>
                                                  <div class="col-md-3">
                                                      <div class="form-check mb-2 mr-sm-2">

                                                          <input class="form-check-input" type="checkbox" id="inlineFormCheck">&nbsp;
                                                          <label class="form-check-label" for="inlineFormCheck" style="margin-right:10px;margin-left:10px;color:whitesmoke;">
                                                              تذكرني
                                                          </label>&nbsp;
                                                      </div>
                                                  </div>*@
                           </div>
                                                  </form>
        </nav>
        <script src="~/assets/js/bootstrap.min.js"></script>
    </body>

}

@*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
@*</section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
</html>