﻿@model SchoolSysteam.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="card-box">
    <h4 class="m-t-0 header-title" style="float: right;">اضافة مستخدم جديد</h4>

    <div class="clearfix"></div>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <input type="text" id="Email" name="Email" required class="form-control" placeholder="البريد الالكترونى" />
            @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="text" id="UserName" name="UserName" required class="form-control" placeholder="اسم المستخدم " />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "كلمة السر" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ناكيد كلمة السر" })
        </div>
    </div>

   
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="حفظ" />
        </div>
    </div>
}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
