﻿
@model SchoolSystem.ViewModel.ViewModel.RegisterationEmployeeFM


<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @*@using (Html.BeginForm("Create", "RegistrationEmployee", FormMethod.Post, new {@id= "ModelForm", @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {*@
    @Html.HiddenFor(i => i.Id);


    @*<fieldset class="scheduler-border">
            <legend class="scheduler-border"> الفرع والسنة</legend>
            <div class="row">
                <div class="form-group row col-6">
                    @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "col-3 col-form-label" })
                    <div class="col-9">
                             @Html.DropDownListFor(model => model.BranchId, (SelectList)ViewBag.Branch, "-- أختر --", new
                        {
                            @class = "form-control select2"

                                    ,
                            @tabindex = "-1",
                            @aria_hidden = "true", required = "required", @onchange = "getEducationAndRegistFees();GetTransportationFees()" })
                             @Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
                         </div>
                </div>


                <div class="form-group row col-6">
                    @Html.LabelFor(model => model.EducationYearId, htmlAttributes: new { @class = "col-3 col-form-label" })
                    <div class="col-9">
                        @Html.DropDownListFor(model => model.EducationYearId, (SelectList)ViewBag.EducationYear, "-- أختر --", new
                        {
                            @class = "form-control select2"

                                    ,
                            @tabindex = "-1",
                            @aria_hidden = "true",
                            required = "required",
                            @onchange = "getEducationAndRegistFees();GetTransportationFees()"
                        })
                        @Html.ValidationMessageFor(model => model.EducationYearId, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </fieldset>*@

    <input type="text" id="Id" name="Id" value="@Model.Id" hidden />

    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:170px;">البيانات الاساسية </legend>
        <br />
        <div class="row">
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم الموظف</label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.EmployeeNameAr, new { @class = "form-control", required = "required" })


                    @Html.ValidationMessageFor(model => model.EmployeeNameAr, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم الأب  </label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.FatherNameAr, new { @class = "form-control", required = "required" })



                    @Html.ValidationMessageFor(model => model.FatherNameAr, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم الجد</label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.GrandFatherNameAr, new { @class = "form-control", required = "required" })

                    @Html.ValidationMessageFor(model => model.GrandFatherNameAr, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم العائلة</label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.FatherNameAr, new { @class = "form-control", required = "required" })

                    @Html.ValidationMessageFor(model => model.FatherNameAr, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">الجنسية </label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.NationalityId, (List<SelectListItem>)ViewBag.NationalityList, new { @class = "form-control select2" })

                    @Html.ValidationMessageFor(model => model.NationalityId, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </fieldset>



    <br />

    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:170px;">البيانات الوظفية</legend>
        <div class="row">
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">رقم السجل </label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.RecordNo, new { @class = "form-control", required = "required" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">تاريخ العمل </label>
                <div class="col-9">
                    <input type="text" id="HireDate" name="HireDate" value="@Model.HireDate" class="form-control" />
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">الوظيفة </label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.JobId, (List<SelectListItem>)ViewBag.JobList, new { @class = "form-control select2" })
                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">حالة الموظف </label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.TeacherStatusId, (List<SelectListItem>)ViewBag.TeacherStatusList, new { @class = "form-control select2" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">المؤهل  </label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.QualificationId, (List<SelectListItem>)ViewBag.QualificationList, new
                    {
                        @class = "form-control select2",
                        @onchange = "getMajorList(this.value);"
                    })

                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">التخصص  </label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.MajorId, (List<SelectListItem>)ViewBag.MajorList, new { @class = "form-control select2" })

                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">مادة التدريس  </label>
                <div class="col-9">

                    @Html.DropDownListFor(x => Model.MaterialId, (List<SelectListItem>)ViewBag.MaterialList, new { @class = "form-control select2" })

                </div>
            </div>

            <div class="form-group row col-6">
                <label class="col-3 col-form-label">المراحل الدراسية   </label>
                <div class="col-9">



                    @Html.Action("StageList")


                </div>
            </div>



        </div>
    </fieldset>

    <br />
    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:170px;"> بيانات التواصل  </legend>
        <div class="row">



            <div class="form-group row col-6">
                <label class="col-3 col-form-label">البريد الالكترونى   </label>
                <div class="col-9">

                    @Html.TextBoxFor(i => i.Email, new { @class = "form-control", @step = "0.01", @value = "0" })

                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label"> رقم الجوال </label>
                <div class="col-9">
                    @Html.TextBoxFor(i => i.PhoneNumber, new { @class = "form-control", @step = "0.01", @value = "0" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label"> العنوان التفصيلى </label>
                <div class="col-9">
                    <textarea id="Address" name="Address" class="form-control"> @Model.Address</textarea>
                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label"> ملاحظات  </label>
                <div class="col-9">
                    <textarea id="Note" name="Note" class="form-control"> @Model.Notes</textarea>
                </div>
            </div>


        </div>
    </fieldset>

    <br />




    <br />


    <div class="col-lg-12" style="text-align: left;">
        <button type="submit" onclick="GetStageList()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
        <a href="@Url.Action("Index1")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
    </div>

    @*}*@

    <div class="clearfix"></div>

</div>

<script>
    //$(document).ready(function () {
    //    $('#Test').click(function () {
    //        var names = [];
    //        $('#StageId input:checked').each(function () {
    //            names.push(this.Value);
    //            alert(names);
    //        });
    //        // now names contains all of the names of checked checkboxes
    //        // do something with it
    //    });
    //});



    function GetStageList() {
        var StageList = [];
        $.each($("input[name='StageId']:checked"), function () {
            StageList.push($(this).val());
        });
        var Address = $("#Address").val();
        var Email = $("#Email").val();
        var EmployeeNameAr = $("#EmployeeNameAr").val();
        var FamilyNameAr = $("#FamilyNameAr").val();
        var FatherNameAr = $("#FatherNameAr").val();
        var GrandFatherNameAr = $("#GrandFatherNameAr").val();
        var HireDate = $("#HireDate").val();
        var JobId = $("#JobId").val();
        var MajorId = $("#MajorId").val();
        var MobileNo = $("#MobileNo").val();
        var MaterialId = $("#MaterialId").val();
        var NationalityId = $("#NationalityId").val();
        var Notes = $("#Notes").val();
        var PhoneNumber = $("#PhoneNumber").val();
        var QualificationId = $("#QualificationId").val();
        var RecordNo = $("#RecordNo").val();
        var TeacherStatusId = $("#TeacherStatusId").val();
        var Id = $("#Id").val();

        //var $form = $("#ModelForm");
        ////if ($form.valid()) {
        //var data1 = new FormData();
        //var formData = $form.serializeArray();
        //$.each(formData, function (key, value) {
        //    data1.append(this.Id, this.value);
        //});
        //JSON.stringify({ 'List': Listch });
        $.ajax
            ({
                url: '/RegistrationEmployee/Create',
                type: 'POST',

                data: {
                    Address: Address,
                    Email: Email,
                    EmployeeNameAr: EmployeeNameAr,
                    FamilyNameAr: FamilyNameAr,
                    FatherNameAr: FatherNameAr,
                    GrandFatherNameAr: GrandFatherNameAr,
                    HireDate: HireDate,
                    JobId: JobId,
                    MajorId: MajorId,
                    MobileNo: MobileNo,
                    MaterialId: MaterialId,
                    NationalityId: NationalityId,
                    Notes: Notes,
                    PhoneNumber: PhoneNumber,
                    QualificationId: QualificationId,
                    RecordNo: RecordNo,
                    TeacherStatusId: TeacherStatusId,
                    Id: Id,

                    StageList: StageList,


                },
                success: function (result) {
                    //location.href = "Index1";
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });

    }
    function getMajorList(QualificationId) {
        QualificationId = QualificationId ? QualificationId : 0;
        $.ajax
            ({
                url: '/RegistrationEmployee/getMajorList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: stageId
                }),
                success: function (result) {
                    $("#MajorId").html("");
                    $("#MajorId").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $("#MajorId").html("");
                    $("#MajorId").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $.each((result), function (i, edu) {

                        $("#MajorId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }



</script>

@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true,
            dir: "rtl",

        });


       
    </script>
}

<script type="text/javascript">
    function DeleteImage(id) {
        $("#" + id).val('');
        $("#ImageImg11").prop("src", "/ModelImages/noImage.gif");
    }
    function fileCheck(obj) {
        //   var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        //  if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
        //alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        //}
    }

    function readFileid(v, d, i) {
        debugger;
        if (v.files && v.files[0]) {
            var FR = new FileReader();
            FR.addEventListener("load", function (e) {
                d.src = e.target.result;
            });
            FR.readAsDataURL(v.files[0]);
        }

    }
</script>

<script>
    $(function () {
        $("#HireDate").datepicker().datepicker("setDate", new Date());;

    });
</script>