﻿



@model IEnumerable<SchoolSystem.ViewModel.ViewModel.SettingVM>
@{
    Layout = null;
}

<table class="table mb-0 table-sm">
    @foreach (var item in Model)
    
    {
        <tr>
            <td>
               
                <input type="checkbox" id="StageId" name="StageId" value="@item.Id"  title="@item.NameAr"/>
                    @item.NameAr
            </td>
        </tr>
    }
</table>
