﻿@model SchoolSystem.ViewModel.ViewModel.SchoolExpensesVM


@{
    ViewBag.Title = "المصروفات المدرسية";
}





<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "SchoolExpenses", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);




        <div class="form-group row">

<label class="col-2 col-form-label">التاريخ</label>
       <div class="col-md-10">

                <input type="text" class="form-control" id="ExpenseDate" name="ExpenseDate" />
                @*@Html.EditorFor(model => model.ExpenseDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                @Html.ValidationMessageFor(model => model.ExpenseDate, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group row">
            <label class="col-2 col-form-label">جهة المصروف</label>
            <div class="col-10">
                @Html.TextBoxFor(model => model.DeliveredTo, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.DeliveredTo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">اسم المصروف</label>
            <div class="col-10">
                @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">سعر المصروف</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Price, new { @class = "form-control", required = "required", @type = "number", @min = "0", @step = "0.01", @value = "0", @onchange = "GetTotal();" })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">الكمية </label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Quantity, new { @class = "form-control", required = "required", @type = "number", @min = "0", @step = "1", @value = "0", @onchange = "GetTotal();" })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">الاجمالى </label>
            <div class="col-10">
                @Html.TextBoxFor(model => model.Total, new { @class = "form-control", @readonly = "readonly", required = "required" })
                @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("All",new { pageIndex = 1 })" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>


<script>
    $(function () {
        $("#ExpenseDate").datepicker().datepicker("setDate", new Date());

    });
</script>

<script>


    function GetTotal() {

        Price = $("#Price").val() ? $("#Price").val() : 0;
        Quantity = $("#Quantity").val() ? $("#Quantity").val() : 0;

        Total = eval(Price) * eval(Quantity);
        $("#Total").val(Total);

    }

</script>
