﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.SchoolExpensesVM>
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>الرقم </th>
                        <th>اسم المصروف </th>
                        <th>جهة المصروف  </th>
                        <th> القيمة  </th>
                        <th>التاريخ   </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DocNo</td>
                            <td>@item.ItemName</td>
                            <td>@item.DeliveredTo</td>
                            <td>@item.Price</td>
                            <td>@item.ExpenseDate</td>





                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<h4>إجمالي المصروفات @ViewBag.Total</h4>

<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });


</script>




