﻿

@model IEnumerable<SchoolSystem.ViewModel.ViewModel.StudentPaymentVM>
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>التسلسل</th>
                        <th>التاريخ </th>
                        <th>الفرع </th>
                        <th>اسم الطالب </th>
                        <th>قيمة الدفعة </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.VoucherDate</td>
                            <td>@item.BranchName</td>
                            <td>@item.StudentName</td>

                            <td>@item.TotalAfterVAT</td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<h4>إجمالي الايرادات @ViewBag.Revenues</h4>

<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




