﻿@model SchoolSystem.ViewModel.ViewModel.SchoolExpensesVM




<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @*@using (Html.BeginForm("Create", "StudentAttendence", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))*@

    @Html.HiddenFor(i => i.Id);

    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:70px;">التاريخ </legend>
        <br />
        <div class="row">




            <div class="form-group row col-6">
                <label class="col-3 col-form-label"> من </label>
                <div class="col-9">
                    <input type="text" name="StartDate" required id="StartDate" class="form-control" />
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">الى  </label>
                <div class="col-9">
                    <input type="text" name="EndDate" required id="EndDate" class="form-control" />
                </div>
            </div>

        </div>
    </fieldset>
    <br />
    <br />
    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:480px; background-color:cadetblue; width:110px;">المصروفات </legend>
        <br />
        <div class="row" id="Expenses">

        </div>

    </fieldset>
    <br />
    <br />
    <div class="col-lg-12" style="text-align: left;">
        <button type="submit" onclick="Reports()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">بحث</button>
    </div>
</div>

<script>
    $(function () {
        $("#StartDate").datepicker().datepicker("setDate", new Date());
        $("#EndDate").datepicker().datepicker("setDate", new Date());


    });
</script>

<script>

    function Reports() {

        var StartDate = $('#StartDate').val();
        var EndDate = $('#EndDate').val();



        $.ajax({
            url: '/SchoolExpenses/GetExReports/',
            data: { StartDate: StartDate, EndDate: EndDate },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#Expenses").html(data);
                //renderFees(data);
            }
        });

    };

    

</script>
