﻿@model IEnumerable<SchoolSysteam.Entitys.AppController>
<div class="card-box">
    <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
        <thead>
            <tr>
                <th>التسلسل </th>
                <th>اسم الكنترولز </th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <td>@item.Id</td>
                    <td>
                        @item.ControllerName
                    </td>


                    <td>
                        <a class="btn btn-success waves-effect waves-light m-b-5" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#controleactionDiv" onclick="GetAcctions(@item.Id)"> <i class="fa fa-pencil m-r-5"></i></a>
                    </td>
                </tr>
                //href = "@Url.Action("GetActions", new { id=item.Id})"
            }
        <tbody>
    </table>



</div>
