﻿
@model IEnumerable<SchoolSysteam.Entitys.AppAction>


<div class="card-box">
    <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
        <thead>
            <tr>
                <th>اسم الكنترولز </th>
                <th>اسم الاكشن</th>
                <th>اسم الصلاحية</th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppControllers.ControllerName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>

                        <a href="@Url.Action("EditActionRoles", "Roles", new { id = item.Id })" class="btn btn-success editDialog"><i class="fa fa-pencil-square-o "></i></a>
                    </td>
                </tr>
            }

    </table>
</div>
    <script>
        $('.editDialog').click(function (event) {
            event.preventDefault();
            $.get(this.href, function (response) {
                $('.divForUpdate').html(response);
            });
            $('#Edit-Model').modal({
                backdrop: 'static',
            }, 'show');
        });
    </script>

