﻿
@model IEnumerable<SchoolSysteam.Entitys.AppController>


<style>
    .modal-dialog {
        width: 75%;
    }
</style>
<style>
    .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate.paging_simple_numbers {
        display: none;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="col-lg-5">
                <a href="/Home/index" class="waves-effect waves-light m-b-5"> القائمه الرئسيه</a>
            </div>

            <div class="col-lg-5">
                <h4 class="page-title"> الصلاحيات </h4>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
<div class="modal fade" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">الصلاحيات</h4>
            </div>
            <div class="divForUpdate">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="pull-left">
                                الصلاحيات
                            </span>



                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-body">

                @using (Ajax.BeginForm("AppContollerRoles", "Roles", new AjaxOptions()
                {
                    UpdateTargetId = "CountryID",
                    LoadingElementId = "preholder",
                    InsertionMode = InsertionMode.Replace,
                    OnComplete = " $('#datatableClass').DataTable({ keys: true });"
                }, new { id = "searchform" }))
                {

                    <div class="input-group">
                        <input type="text" id="example-input1-group2" name="keysearch" class="form-control" placeholder="بحث">
                        <span class="input-group-btn">
                            <a class="btn waves-effect waves-light btn-primary"
                               data-ajax="true"
                               data-ajax-loading="#preholder"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#CountryID"
                               href="/Roles/AppContollerRoles"
                               data-ajax-complete="$('#searchform')[0].reset();$('#datatableClass').DataTable({ keys: true });"><i class="fa fa-refresh"></i></a>
                            <button type="submit" class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                        </span>

                    </div>
                }

                <div class="row" id="CountryID">
                    @Html.Partial("_AppConrollerList", Model)
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="pull-left">
                                الاكشن

                            </span>



                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-body">
                <div id="controleactionDiv">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function GetAcctions(Id) {
            $.ajax({
                url: "/Roles/GetActions/" + Id,
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {

                    $("#controleactionDiv").html(result);
                    $("#preholder").hide();
                },
                error: function (result) {

                    $("#controleactionDiv").html("");
                    $("#preholder").hide();
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#datatableClass").DataTable({ keys: true });
            //$("#datatableClass").dataTable();
        });
    </script>
}