﻿@*@{
    ViewBag.Title = "Home Page";
}


        <div class="row">
            <div class="col-xs-12">
                
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o"></i>
                        شئوون الطلاب
                    </div>
                    <div >

                        <div class="col-md-2 ">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink46" href="../Pupils/PubReg.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تسجيل طالب</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-2 ">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink2" href="../Pupils/PubSearch.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">بحث الطلاب </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        @*<div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink3" href="../Pupils/PubPaym.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">تسديد دفعة</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink4" href="../Pupils/Pupils_Absence.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> الغياب اليومي</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink5" href="../Pupils/StudentsMenu.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> قوائم الطلاب </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink6" href="../Pupils/RptPayments.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير مدفوعات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink7" href="../Pupils/tel_rpt.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير تليفونات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink8" href="../Pupils/StudentsInBus.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير الباصات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink9" href="../Pupils/PupAbsence_Rpt.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير الغياب </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink10" href="../Pupils/PaymPercentRpt.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">مدفوعات %</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink1" href="../Pupils/viewPayments.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">بحث السندات</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink40" href="../Pupils/PastPayments.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">كشف حساب</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>*@
                    </div>
                


                @*<div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o"></i>
                        شئوون الموظفين
                    </div>
                    <div class="panel-body">
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink11" href="../Employee/EmpReg.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تسجيل </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink12" href="../Employee/EmpSearch.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> بحث  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink13" href="../Employee/EmpsSalarys.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> المرتبات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink15" href="../Employee/Emp_Absence.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تسجيل غياب  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink16" href="../Employee/salary_rpt.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير الرواتب </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink17" href="../Employee/Emp_AbsenceRpt.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير الغياب  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o"></i>
                        المستخدمين
                    </div>
                    <div class="panel-body">

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink18" href="../Appusers/AddUsers.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تسجيل مستخدم </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>


                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink19" href="../Appusers/AddRoles.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> مجموعات الصلاحية </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink20" href="../Appusers/roles_assign.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> توزيع الصلاحيات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>



                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink14" href="../Appusers/Users_Branches.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> توزيع المستخدمين  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>


                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o"></i>
                        الإدارة
                    </div>
                    <div class="panel-body">

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink21" href="Expenses.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> مصروفات المدرسة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink22" href="Expenses.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> مصروفات المدرسة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>


                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink23" href="GetExpenses.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> تقرير مصروفات المدرسة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>


                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink24" href="SchoolSummary.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> إحصائيات المدرسة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink25" href="DbaseBackup.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> النسخ الإحتياطي </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-pencil-square-o"></i>
                        الإعدادات
                    </div>
                    <div class="panel-body">



                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink26" href="../Settings/Year_Settings.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">  سنة دراسية</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink27" href="../Settings/Paym_Settings.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">الرسوم الدراسية  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink28" href="../Settings/Jobs.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">تسجيل وظيفة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink29" href="../Settings/Nationality.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> الجنسيات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink30" href="../Settings/Chapters.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> الفصول الدراسية  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink31" href="../Settings/AddRanks.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">  الصفوف الدراسية </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink32" href="../Settings/Areas.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> الأحياء  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink33" href="../Settings/Materials.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> مواد الدراسة </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink34" href="../Settings/Qual.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> المؤهلات  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink35" href="../Settings/Special.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> التخصصات  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink36" href="../Settings/TechCase.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">حالة المعلم</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink37" href="../Settings/Buses.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">تسجيل باص</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink38" href="../Settings/Drivers.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge">السائقين </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink39" href="../Settings/BusFees.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> رسوم الباصات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <a id="ctl00_ContentPlaceHolder1_HyperLink41" href="../Settings/Bus_Areas.aspx">
                                <div class="panel panel-primary">

                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="fa fa-caret-square-o-right fa-2x"></i>
                                            </div>
                                            <div class="col-xs-12 text-center">

                                                <div class="huge"> توزيع الباصات </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>*@


            </div>
















        </div>


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@ 