﻿@model SchoolSystem.ViewModel.ViewModel.RegistrationStudentVM


<fieldset class="scheduler-border">
    <legend class="scheduler-border">المدفوعات المستحقة</legend>
    <table class="table">
        <thead style="background-color:#3bafda;color:white;">
            <tr>
                <th>رسوم التسجيل</th>
                <th>رسوم الدراسة</th>
                <th>رسوم الباص</th>
                <th>رسوم أضافية</th>
                <th>رسوم مرحلة</th>
                <th>الخصم</th>
                <th>الأجمالي</th>

                <th>المتبقي</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="RegisterFees">@Model.RegisterFees</td>
                <td class="StudyFees">@Model.StudyFees</td>
                <td class="TransportationFees">@Model.TransportationFees</td>
                <td class="AdditionalFees">@Model.AdditionalFees</td>
                <td class="PreviousFees">@Model.PreviousFees</td>
                <td class="DiscountPercentage">@Model.DiscountPercentage</td>
                <td class="Total">@Model.Total</td>
                <td class="Refunded">@Model.ResidualValue</td>

            </tr>
        </tbody>
    </table>
    <input type="text" id="ResidualValue" name="ResidualValue" value="@Model.ResidualValue" hidden />
    <input type="text" id="Total" name="Total" value="@Model.Total" hidden />

</fieldset>