﻿













@model IEnumerable<SchoolSystem.ViewModel.ViewModel.BusSubscriptionFeesTypeVM>
@{
    Layout = null;
}

@if (Model != null)
{
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>التسلسل</th>
                        <th>النوع </th>
                        <th>القيمة </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.NameAr</td>
                            <td><input type="text" class="form-control" id="@item.Id" name="@item.Id" style="width:150px;" value="@item.Value" /></td>

                            <td><button  onclick="SaveValue('@item.Id','@item.NameAr')" class="btn btn-success   waves-effect waves-light m-b-0">حفظ</button></td>

                            @*<td>
                                <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)">  <i class="ti-trash"></i></button>

                            </td>*@

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
}
<script type="text/javascript">
    $(function () {
        $('.datatable').DataTable();

        //Buttons examples
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    });


</script>



               <script>
                   function SaveValue(Id,NameAr)
                   {
                       var SS = "#" + Id;
                       var value = $(SS).val();
                       $.ajax
                           ({
                               url: '/BusSubscriptionFee/Edit',
                               type: 'POST',
                               datatype: 'application/json',
                               
                               data: JSON.stringify({

                                   FeeType: Id,
                                   Value: value,
                                   NameAr: NameAr

                               }),
                               success: function (result) {




                                
                                 

                                  

                               },
                               error: function () {
                                   // alert("Whooaaa! Something went wrong..")
                               },
                           });

                   }
               </script>






@*@model IEnumerable<SchoolSystem.ViewModel.ViewModel.BusSubscriptionFeeVM>
        @{
            Layout = null;
        }

    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>التسلسل</th>
                            <th>نوع الباص </th>
                            <th> القيمة </th>

                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.SubscriptionTypeName</td>
                            <td>@item.Fees</td>



                            <td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>

                            <td>
                                <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)">  <i class="ti-trash"></i></button>

                            </td>

                        </tr>
    }
                    </tbody>
                </table>
            </div>
            </div>
        </div>
            <script type="text/javascript">
                $(function () {
                    $('.datatable').DataTable();

                    var table = $('#datatable-buttons').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'excel', 'pdf']
                    });

                    table.buttons().container()
                            .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
                });


            </script>*@




