﻿
@model SchoolSystem.ViewModel.ViewModel.MonthlySalaryFM



<div class="card-box">
    <h4 class="m-t-0 header-title" style="float: right;">@ViewBag.Title</h4>

    <div class="clearfix"></div>
</div>
<div class="card-box">
    <div class="portlet">
        <div class="portlet-body">
            @*@using (Html.BeginForm("Save", "MonthlySalary", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data", id = "form" }))
                {*@
            @Html.HiddenFor(e => e.Id);
            <fieldset class="scheduler-border">
                <div class="row">
                    <div class="form-group row col-6">
                        <label class="col-3 col-form-label">الموظف</label>
                        <div class="col-9">
                            @Html.DropDownListFor(x => Model.EmployeeId, (List<SelectListItem>)ViewBag.EmployeeList, new
                            {
                                @class = "form-control select2",
                                @onchange = "SearchClick()"
                            })

                            @Html.ValidationMessageFor(e => e.EmployeeId, "", new { @class = "text-danger" })


                        </div>
                    </div>
                    <div class="form-group row col-6">
                        <label class="col-3 col-form-label">التاريخ</label>
                        <div class="col-9">
                            @*@Html.EditorFor(e => e.Date, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date" } })*@

                            @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-3" })*@

                            <input type="date" class="form-control" id="Date" name="date" />

                            @*@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group row col-6">
                        <label class="col-3 col-form-label">الشهر</label>
                        <div class="col-9">
                            @* @Html.EditorFor(e => e.Date, new { htmlAttributes = new { @class = "form-control", required = "required", type = "date" } })*@

                            @*@Html.DropDownList("اختر", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "اختر", new { @class = "form-control", required = "required" ,id="Month"})
                                @Html.DropDownList("اختر", new SelectList(System.Globalization.DateTimeFormatInfo.CurrentInfo.MonthNames ))*@

                            <select class="form-control select2" id="Month" name="Month" required>
                                <option value="1">يناير</option>
                                <option value="2">فبرايل</option>
                                <option value="3">مارس</option>
                                <option value="4">ابريل</option>
                                <option value="5">مايو</option>
                                <option value="6">يونيو</option>
                                <option value="7">يوليو</option>
                                <option value="8">اغسطس</option>
                                <option value="9">سبتمبر</option>
                                <option value="10">اكتوبر</option>
                                <option value="11">نوفمبر</option>
                                <option value="12">ديسمبر</option>

                            </select>










                        </div>
                    </div>
                    <div class="form-group row col-6">
                        <label class="col-3 col-form-label">السنة</label>
                        <div class="col-9">
                            @*@Html.DropDownList("اختر", Enumerable.Range(DateTime.Now.Year, 10).Select(x => new SelectListItem { Text = x.ToString() }), "اختر", new { @class = "form-control", required = "required" ,id="Year"})*@






                            <select class="form-control select2" id="Year" name="Year" required>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>

                            </select>


                        </div>
                    </div>
                </div>

            </fieldset>








            <div id="partialPlaceHolder">


            </div>

            <div class="col-lg-12" style="text-align: left;">
                <button type="submit" onclick="AddClick()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
                <a href="@Url.Action("All", new { pageIndex = 1 })" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>

            </div>
            @*}*@

        </div>
    </div>



    <div class="clearfix"></div>
</div>

<script>
    //function Test() {

    //    var elements = document.getElementsByClassName("PayrollItemId");
    //    var names = [];
    //    for (var i = 0; i < elements.length; i++) {
    //        names.push(elements[i].value);
    // names.push(elements[i].name);
    //    }
    //    alert(names);
    //}
    function AddClick() {
        var elements = document.getElementsByClassName("PayrollItemId");
        var names = [];
        var Pay = [];
        for (var i = 0; i < elements.length; i++) {
            names.push(elements[i].value);
            Pay.push(elements[i].name);
        }
        var EmployeeId = $('#EmployeeId').val();
        var Date = $("#Date").val();
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        var NetSalary = $("#NetSalary").val();
        var data =

            {
                PayItem: Pay,
                ValueItem: names
            };


        $.ajax({
            url: '/MonthlySalary/Create/',
            type: 'POST',
            data: { ListItem: data, EmployeeId: EmployeeId, Month: Month, Year: Year, NetSalary: NetSalary },

            dataType: 'html',
            success: function () {
                location.href = "Index1"
                //$("#partialPlaceHolder").html(data);
            }
        });

    };


    function SearchClick() {

        var EmployeeId = $('#EmployeeId').val();



        $.ajax({
            url: '/MonthlySalary/PartialMonthSal/',
            data: { EmployeeId: EmployeeId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#partialPlaceHolder").html(data);
            }
        });

    };
</script>

@section Scripts{

<script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true          ,
            dir: "rtl",
            
        });



</script>
}
