﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.PayrollDataVM2>
@{
    int count = Model.Count() ;
    int i1=0;
  
}

<table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
    <thead style="background-color:#3bafda;color:white;">
        <tr>
            <th>اسم البند</th>
            <th> القيمة</th>
            


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           
            <tr>
                <td>@item.PayrollItemName</td>
                <td><input type="text" id="PayrollItemId " name="@item.PayrollItemId" value="@item.Value" class="form-control PayrollItemId" /></td>
                                                 
                                                          


            </tr>
            
        }

    </tbody>

</table>

<br />
<br />
<table>
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>صافى الراتب </td>
            <td>
                <input type="text" id="NetSalary" name="NetSalary" readonly value="@Model.Sum(a=>a.Value)" class="form-control" />
            </td>
        </tr>
    </tbody>
</table>
