﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.StudentAttendenceDetailsVM>


<div id="content">


    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>التسلسل</th>
                            
                            <th>اسم الطالب </th>
                            <th>حالة الطالب</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                
                                <td>@item.StudentName</td>

                                
                                    @if (item.Attended == true)
                                    {
                                      <td>  حاضر     </td>
                                    }
                                    else
                                    {
                                      <td>
                                          لم يحضر
                                           </td>
                                          }

                                     

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.datatable').DataTable();

            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });


    </script>





</div>
