﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.RegistrationStudentVM>
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th></th>
                        <th>اسم الطالب</th>
                        <th>  رقم السجل     </th>
                        <th>العنوان </th>
                        <th> المرحلة الدراسية   </th>
                        <th>  الصف الدراسى   </th>
                        <th>  اسم الفصل    </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th><input type="checkbox" id="Case" name="Case" value="@item.Id" /></th>
                            <td>@item.StuNameAr @item.ParentNameAr @item.GrandfatherNameAr</td>
                            <td>@item.RecordNumber</td>

                            <td>@item.Address</td>
                            <td>@item.StageName</td>
                            <td>@item.EducationalGradeName</td>
                            <td>@item.ClassName</td>
                            

                           
                           

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




