﻿
@model SchoolSystem.ViewModel.ViewModel.StudentAttendenceFM




<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @*@using (Html.BeginForm("Create", "StudentAttendence", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))*@

    @Html.HiddenFor(i => i.Id);

    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:160px;">المرحلة والفصل</legend>
        <br />
        <div class="row">
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم المرحلة</label>
                <div class="col-9">

                    @Html.DropDownListFor(x => Model.Stage_Id, (List<SelectListItem>)ViewBag.StageList, new
                    {
                        @class = "form-control select2",
                        @onchange = "getEducationalGradeList(this.value)"
                    })

                    @Html.ValidationMessageFor(model => model.Stage_Id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">الصف الدراسى </label>
                <div class="col-9">

                    @Html.DropDownListFor(x => Model.EducationalGrade_Id, (List<SelectListItem>)ViewBag.EducationalGradeList, new { @class = "form-control select2", @onchange = "getClassList(this.value)" })

                    @Html.ValidationMessageFor(model => model.EducationalGrade_Id, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group row col-6">
                <label class="col-3 col-form-label">اسم الفصل</label>
                <div class="col-9">
                    @Html.DropDownListFor(x => Model.Class_Id, (List<SelectListItem>)ViewBag.ClassList, new { @class = "form-control select2" })

                    @Html.ValidationMessageFor(model => model.Class_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row col-6">
                <label class="col-3 col-form-label">من  </label>
                <div class="col-9">
                    <input type="text" name="DateFrom" required id="DateFrom" class="form-control" value="@Model.Date" />
                </div>
            </div>
            <div class="form-group row col-6">
                <label class="col-3 col-form-label">الى  </label>
                <div class="col-9">
                    <input type="text" name="DateTo" required id="DateTo" class="form-control" value="@Model.Date" />
                </div>
            </div>

        </div>
    </fieldset>
    <br />
    <br />
    <div class="col-lg-12" style="text-align: left;">
        <button type="submit" onclick="StudentReprt()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">بحث</button>
    </div>
    <br />

    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:480px; background-color:cadetblue; width:70px;">الطلاب </legend>
        <br />
        <div class="row" id="Student">

        </div>

    </fieldset>
    <br />
    <br />


    @section Scripts{
        <script type="text/javascript">
            $(".select2").select2({
                selectOnClose: true,
                dir: "rtl",

            });



        </script>
    }



    <script>

        function StudentReprt() {

            var DateTo = $('#DateTo').val();
            var DateFrom = $('#DateFrom').val();
            var ClassId = $('#Class_Id').val();


            $.ajax({
                url: '/StudentAttendence/GetReport/',
                data: { DateTo: DateTo, DateFrom: DateFrom, ClassId: ClassId },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#Student").html(data);
                    //renderFees(data);
                }
            });

        };

        function getEducationalGradeList(stageId) {
            stageId = stageId ? stageId : 0;

            $.ajax
                ({
                    url: '/RegistrationStudent/GetEducationalGradeList',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: stageId
                    }),
                    success: function (result) {
                        $("#EducationalGrade_Id").html("");

                        $("#Class_Id").html("");

                        $.each((result), function (i, edu) {

                            $("#EducationalGrade_Id").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }

        function getClassList(classId) {
            classId = classId ? classId : 0;

            $.ajax
                ({
                    url: '/RegistrationStudent/GetClassesByEduGradeIdList',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: classId
                    }),
                    success: function (result) {
                        $("#Class_Id").html("");

                        $.each((result), function (i, edu) {

                            $("#Class_Id").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }

    </script>
    <script>
        $(function () {
            $("#DateTo").datepicker().datepicker("setDate", new Date());
            $("#DateFrom").datepicker().datepicker("setDate", new Date());

        });
    </script>
