﻿
@model SchoolSystem.ViewModel.ViewModel.EmployeeAttendenceVM




<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @*@using (Html.BeginForm("Create", "StudentAttendence", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))*@

    @Html.HiddenFor(i => i.Id);

   
    <br />
    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
        <legend class="scheduler-border" style="margin-right:470px; background-color:cadetblue; width:100px;">الموظفين </legend>
        <br />

        <div class="form-group row col-6">
            <label class="col-3 col-form-label">تاريخ اليوم </label>
            <div class="col-9">
                <input type="text" name="DateDay" required id="DateDay" class="form-control" value="@Model.Date" />
            </div>
        </div>

        <br />

        <div class="row" id="Student">
            @Html.Action("GetEmployee")
        </div>

    </fieldset>
    <br />
    <br />
    <div class="col-lg-12" style="text-align: left;">
        <button type="submit" onclick="AddAttandce()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
        <button type="submit" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</button>
    </div>
        </div>
    @section Scripts{

    }

        <script>
            function AddAttandce() {

                var StudentList = [];
                $.each($("input[name='Case']:checked"), function () {
                    StudentList.push($(this).val());
                });
                var Date = $("#DateDay").val();
               

                

                $.ajax
                    ({
                        url:'/EmployeeAttendance/AddAttanduce',
                        type: 'POST',

                        data:{
                            StudentList: StudentList,
                            Date: Date,
                             
                        },
                        
                        success: function (data) {
                            location.href = "Index1";
                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });

            }
        </script>

        
        <script>
            $(function () {
                $("#DateDay").datepicker().datepicker("setDate", new Date());

            });
        </script>
