﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.EmployeeAttendenceDetailsVM>


<div id="content">


    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>حالة الموظف</th>
                            <th>التسلسل</th>

                            <th>اسم الموظف </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <label>حذف</label>
                                <input type="checkbox" id="Case" name="Case" value="@item.Id"   title="حذف"  />
                                </td>
                                <td>@item.Id</td>

                                <td>@item.EmployeeName</td>




                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" onclick="AddAttandce()" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.datatable').DataTable();

            //Buttons examples
            var table = $('#datatable-buttons').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf']
            });

            table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
        });


    </script>

    <script>
        function AddAttandce() {

            var StudentList = [];
            $.each($("input[name='Case']:Checked"), function () {
                StudentList.push($(this).val());
            });


            $.ajax
                ({
                    url: '/EmployeeAttendance/DeleteAttandce',
                    type: 'POST',

                    data: {
                        StudentList: StudentList,
                        
                      
                         
                    },

                    success: function (data) {
                        location.reload();
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });

        }
    </script>





</div>
