﻿

@model IEnumerable<SchoolSystem.ViewModel.ViewModel.RegistrationEmployeeVM>
@{
    Layout = null;
}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>الغياب</th>
                        <th>اسم الموظف</th>
                        <th>  الوظيفة      </th>
                        <th>المؤهل </th>
                        <th> التخصص    </th>
                        @*<th>  مواد التدريس    </th>*@
                        <th>  حالة الموظف     </th>

                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> <input type="checkbox" id="Case" name="Case" value="@item.Id" /> </td>
                            <td>@item.EmployeeNameAr @item.FatherNameAr @item.FamilyNameAr @item.GrandFatherNameAr</td>
                            <td>@item.JobName</td>

                            <td>@item.QualificationName</td>
                            <td>@item.MajorName</td>
                            @*<td></td>*@
                            <td>@item.TeacherStatusName</td>


                           

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


</script>




