﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.RegistrationStudentVM>
@{
    Layout = null;
}

@if (Model.Count() == 0)
{

    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>اسم الطالب</th>
                            <th>  رقم السجل     </th>
                            <th> العنوان    </th>
                            <th> المرحلة الدراسية   </th>
                            <th>  الصف الدراسى   </th>
                            <th>  اسم الفصل    </th>

                            <th>  رقم الاب  </th>
                            <th> رقم الام   </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
    {
                        <tr>
                            <td>@item.StuNameAr @item.ParentNameAr @item.GrandfatherNameAr</td>
                            <td>@item.RecordNumber</td>
                            <td>@item.Address</td>

                            <td>@item.StageName</td>
                            <td>@item.EducationalGradeName</td>
                            <td>@item.ClassName</td>
                            <td>@item.FatherPhone</td>
                            <td>@item.MotherPhone</td>

                            @*<td>
            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog fa-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                    <li class="text-align-center">
                        <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">تعديل</button>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> حذف</button>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">الغاء</a>
                    </li>
                </ul>
            </div>
        </td>*@
                            @*<td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>

        <td>
            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)">  <i class="ti-trash"></i></button>

        </td>*@

                        </tr>
}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        

                        }
                        else if(Model.Count() !=0)
                        {
                        <div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                                        <thead style="background-color:#3bafda;color:white;">
                                            <tr>
                                                <th>اسم الطالب</th>
                                                <th>  رقم السجل     </th>
                                                <th> العنوان    </th>
                                                <th> المرحلة الدراسية   </th>
                                                <th>  الصف الدراسى   </th>
                                                <th>  اسم الفصل    </th>

                                                <th>  رقم الاب  </th>
                                                <th> رقم الام   </th>
                                                @*<th></th>
        <th></th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
            {
                                            <tr>
                                                <td>@item.StuNameAr @item.ParentNameAr @item.GrandfatherNameAr</td>
                                                <td>@item.RecordNumber</td>
                                                <td>@item.Address</td>

                                                <td>@item.StageName</td>
                                                <td>@item.EducationalGradeName</td>
                                                <td>@item.ClassName</td>
                                                <td>@item.FatherPhone</td>
                                                <td>@item.MotherPhone</td>
                                                @*<td>
            <div class="btn-group display-inline pull-right text-align-center hidden-tablet">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-cog fa-lg"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-xs pull-left">
                    <li class="text-align-center">
                        <button type="button" class="btn btn-success   waves-effect waves-light m-b-0" id="btnUpdate" onclick="Edit(@item.Id)">تعديل</button>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)"> حذف</button>
                    </li>
                    <li class="divider"></li>
                    <li class="text-align-center">
                        <a href="javascript:void(0);" class="btn btn-warning waves-effect waves-light m-b-0" aria-hidden="true">الغاء</a>
                    </li>
                </ul>
            </div>
        </td>*@
                                                @*<td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>

        <td>
            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)">  <i class="ti-trash"></i></button>

        </td>*@

                                            </tr>
}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        }

                        <script type="text/javascript">
                            $(function () {
                                $('.datatable').DataTable();

                                //Buttons examples
                                var table = $('#datatable-buttons').DataTable({
                                    lengthChange: false,
                                    buttons: ['copy', 'excel', 'pdf']
                                });

                                table.buttons().container()
                                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
                            });


                        </script>




