﻿
@model SchoolSystem.ViewModel.ViewModel.RegistrationStudentFM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> تقرير المدفوعات</h4>

                    @*<a id="AddNew" href="@Url.Action("Create","Job")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" style="float: left;">        اضافة جديد   </a>*@
                    <br />
                    <br />
                </div>
            </div>


        </div>

        <div class="card-box">
            <div class="portlet">
                <div class="portlet-body">

                    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:160px;"> الفرع والسنة</legend>
                        <div class="row">
                            <div class="form-group row col-6">
                                <label class="col-3 col-form-label">السنة</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(x => Model.EducationYearId, (List<SelectListItem>)ViewBag.EducationYearList, new { @class = "form-control select2" })
                                </div>
                            </div>

                            <div class="form-group row col-6">
                                <label>الفرع</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchList, new
                                    {
                                        @class = "form-control select2",
                                    })
                                </div>
                            </div>




                        </div>
                    </fieldset>
                    <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                        <legend class="scheduler-border" style="margin-right:430px; background-color:cadetblue; width:160px;">المرحلة والفصل</legend>
                        <div class="row">
                            <div class="form-group row col-6">


                                <label>المراحل</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>)ViewBag.StageList, new { @class = "form-control select2", @onchange = "getEducationalGradeList(this.value)" })
                                </div>
                            </div>


                            <div class="form-group row col-6">
                                <label>الصفوف</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(x => Model.EducationalGradeId, (List<SelectListItem>)ViewBag.EducationalGradeList, new
                                    {
                                        @class = "form-control select2",
                                        @onchange = "getClassList(this.value)"
                                    })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="form-group row col-6">


                                <label>الفصل</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(x => Model.ClassId, (List<SelectListItem>)ViewBag.ClassList, new { @class = "form-control select2" })
                                </div>



                            </div>
                        </div>
                    </fieldset>
                    <div class="col-lg-12" style="text-align: left;">
                        <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" onclick="SearchPhoneClick()">بحث</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                <div id="SearchResult">
                                    @Html.Action("ParentPhoneStudentReportSearch")
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>

@section scripts {
    @*<script src="~/AjaxJS/Job.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                Job.init();

            })

        </script>*@
}
@section Scripts{

    <script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true,
            right: 0
        });



    </script>
}

<script>
    function getEducationalGradeList(stageId) {
        stageId = stageId ? stageId : 0;

        $.ajax
            ({
                url: '/StudentFeesReport/GetEducationalGradeList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: stageId
                }),
                success: function (result) {
                    $("#EducationalGradeId").html("");
                    $("#EducationalGradeId").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $("#ClassId").html("");
                    $("#ClassId").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $.each((result), function (i, edu) {

                        $("#EducationalGradeId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }

    function getClassList(classId) {
        classId = classId ? classId : 0;

        $.ajax
            ({
                url: '/StudentFeesReport/GetClassesByEduGradeIdList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: classId
                }),
                success: function (result) {
                    $("#ClassId").html("");
                    $("#ClassId").append
                        ($('<option></option>').val(null).html("--اختر--"))
                    $.each((result), function (i, edu) {

                        $("#ClassId").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }



    function SearchPhoneClick() {
        var StageId = $('#StageId').val();
        var ClassId = $('#ClassId').val();
        var BranchId = $('#BranchId').val();
        var YearId = $('#EducationYearId').val();
        var EducationalGradeId = $('#EducationalGradeId').val();

        $.ajax({
            url: '/StudentFeesReport/ParentPhoneStudentReportSearch/',
            data: { BranchId: BranchId, YearId: YearId, StageId: StageId, EducationalGradeId: EducationalGradeId, ClassId: ClassId },
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $("#SearchResult").html(data);
                //renderFees(data);
            }
        });

    };



</script>
