﻿
@model SchoolSystem.ViewModel.ViewModel.RegistrationStudentVM
@{
    Layout = null;
}

@if (Model.Id == 0)
{

    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>اسم الطالب</th>
                            <th>  رقم السجل     </th>

                            <th> المرحلة الدراسية   </th>
                            <th>  الصف الدراسى   </th>
                            <th>  اسم الفصل    </th>

                            <th> اجمالى المصروفات  </th>
                            <th> المبلغ المتبقى  </th>

                        </tr>
                    </thead>
                    <tbody>
                       
                            <tr>
                              

                              
                              

                            </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
else if (Model.Id != 0)
{
    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>اسم الطالب</th>
                            <th>  رقم السجل     </th>

                            <th> المرحلة الدراسية   </th>
                            <th>  الصف الدراسى   </th>
                            <th>  اسم الفصل    </th>

                            <th> اجمالى المصروفات  </th>
                            <th> المبلغ المتبقى  </th>
                            @*<th></th>
                                <th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr>
                            <td>@Model.StuNameAr @Model.ParentNameAr @Model.GrandfatherNameAr</td>
                            <td>@Model.RecordNumber</td>

                            <td>@Model.StageName</td>
                            <td>@Model.EducationalGradeName</td>
                            <td>@Model.ClassName</td>
                            <td>@Model.Total</td>
                            <td>@Model.ResidualValue</td>
              

                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
                            $(function () {
                                $('.datatable').DataTable();

                                //Buttons examples
                                var table = $('#datatable-buttons').DataTable({
                                    lengthChange: false,
                                    buttons: ['copy', 'excel', 'pdf']
                                });

                                table.buttons().container()
                                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
                            });


</script>




