﻿
@model SchoolSystem.ViewModel.ViewModel.RegistrationStudentFM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Raw(TempData["success"])
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <br />
                    <h4 class="page-title"><a href="~/HomeAdmin/index">الرئسيه</a>--  </h4>  <h4 class="page-title"> تقرير كشف حساب طالب</h4>

                    @*<a id="AddNew" href="@Url.Action("Create","Job")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5" style="float: left;">        اضافة جديد   </a>*@
                    <br />
                    <br />
                </div>
            </div>


        </div>

        <div class="card-box">
            <div class="portlet">
                <div class="portlet-body">

                    <div class="container">

                        <fieldset class="scheduler-border" style="border:1px groove #ddd !important;    padding: 0 1.4em 1.4em 1.4em !important; ">
                            <legend class="scheduler-border" style="margin-right:380px; background-color:cadetblue; width:210px;">السنة والفرع والطالب</legend>
                            <div class="row">
                                <div class="form-group row col-6">
                                    <label class="col-3 col-form-label">السنة الدراسية</label>
                                    <div class="col-9">
                                        @Html.DropDownListFor(x => Model.EducationYearId, (List<SelectListItem>)ViewBag.EducationYearList, new { @class = "form-control select2" })

                                        @Html.ValidationMessageFor(e => e.EducationYearId, "", new { @class = "text-danger" })


                                    </div>
                                </div>
                                <div class="form-group row col-6">
                                    <label class="col-3 col-form-label">الفرع</label>
                                    <div class="col-9">
                                        @Html.DropDownListFor(x => Model.BranchId, (List<SelectListItem>)ViewBag.BranchList, new
                                        {
                                            @class = "form-control select2",
                                            @onchange = "getStudentList(this.value)"
                                        })

                                        @Html.ValidationMessageFor(e => e.BranchId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row col-6">
                                    <label class="col-3 col-form-label">الطالب</label>
                                    <div class="col-9">

                                        @Html.DropDownListFor(x => Model.Id, (List<SelectListItem>)ViewBag.StudentList, new
                                        {
                                            @class = "form-control select2",
                                        })

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-12" style="text-align: left;">
                        <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5" onclick="StudentDetails(), StudentPayment()">بحث</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <br />
                                <div id="SearchResult">
                                    @Html.Action("StudentDetails")
                                </div>

                                <div id="StudentPayment">
                                    @Html.Action("StudentPayment")
                                </div>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->

    <div class="modal fade" id="myModalAddEdit" role="dialog" data-backdrop="static"></div>

</div>

<script type="text/javascript">
    $(".select2").select2({
        selectOnClose: true,
        right: 0
    });



</script>

<script>
    function getStudentList(BranchId) {
        BranchId = BranchId ? BranchId : 0;

        $.ajax
            ({
                url: '/StudentFeesReport/getStudentList',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id: BranchId
                }),
                success: function (result) {
                    $("#Id").html("");
                    $("#Id").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $("#Id").html("");
                    $("#Id").append
                        ($('<option></option>').val(null).html("--اختر--"));
                    $.each((result), function (i, edu) {

                        $("#Id").append
                            ($('<option></option>').val(edu.Value).html(edu.Text))
                    })
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }


    function StudentDetails()
    {
        var Id = $('#Id').val();
        if (Id != 0) {

           

            $.ajax({
                url: '/StudentFeesReport/StudentDetails/',
                data: { StudentId: Id },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#SearchResult").html(data);
                    //renderFees(data);
                }
            });
        }
    };
    function StudentPayment() {
        var Id = $('#Id').val();
        if (Id != 0) {



            $.ajax({
                url: '/StudentFeesReport/StudentPayment/',
                data: { StudentId: Id },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $("#StudentPayment").html(data);
                    //renderFees(data);
                }
            });
        }
    };



</script>
