﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.StudentPaymentVM>
@{
    Layout = null;
}

@if (Model.Count() == 0)
{

    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>الفرع </th>
                            <th>اسم الطالب</th>




                            <th> المبلغ المدفوع   </th>
                            <th>  قيمة الضريبة   </th>
                            <th> المبلغ بعد اضافة الضريبة  </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.BranchName </td>
                            <td>@item.StudentName</td>

                            <td>@item.PaymentValue</td>
                            <td>@item.VAT</td>
                            <td>@item.TotalAfterVAT</td>


                      

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
else if (Model.Count() != 0)
{
    <div class="row">
        <div class="col-12">
            <div class="card-box table-responsive">
                <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                    <thead style="background-color:#3bafda;color:white;">
                        <tr>
                            <th>الفرع </th>
                            <th>اسم الطالب</th>




                            <th> المبلغ المدفوع   </th>
                            <th>  قيمة الضريبة   </th>
                            <th> المبلغ بعد اضافة الضريبة  </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.BranchName </td>
                            <td>@item.StudentName</td>

                            <td>@item.PaymentValue</td>
                            <td>@item.VAT</td>
                            <td>@item.TotalAfterVAT</td>
                          

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
                            $(function () {
                                $('.datatable').DataTable();

                                //Buttons examples
                                var table = $('#datatable-buttons').DataTable({
                                    lengthChange: false,
                                    buttons: ['copy', 'excel', 'pdf']
                                });

                                table.buttons().container()
                                    .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
                            });


</script>




