﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/assets/images/favicon_1.ico">

    <title>الادارة المدرسية</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    @*<link href="~/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="~/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />*@

    <link href="~/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-circliful/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/plugins/morris/morris.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/Scripts/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <link href="~/assets/css/AR/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/AR/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style_dark.css" rel="stylesheet" type="text/css">

    @*<link href="~/assets/css/AR/style.css" rel="stylesheet" type="text/css">*@


    <script src="~/assets/js/modernizr.min.js"></script>

    <link href="~/Content/toastr.min.css" rel="stylesheet" />


</head>

                   
<body class="fixed-left">
               
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="index.html" class="logo"><i class="mdi mdi-radar"></i> <span></span></a>
                </div>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <nav class="navbar-custom">

                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item notification-list hide-phone">
                        <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                            <i class="mdi mdi-crop-free noti-icon"></i>
                        </a>
                    </li>

                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">


                        </a>

                    </li>
                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="mdi mdi-bell noti-icon"></i>
                            <span class="badge badge-pink noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin<smIndex1 class="text-muted">1 min ago</smIndex1></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                                <p class="notify-details">New user registered.<smIndex1 class="text-muted">1 min ago</smIndex1></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><smIndex1 class="text-muted">1 min ago</smIndex1></p>
                            </a>

                            <!-- Index1-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-Index1">
                                View Index1
                            </a>

                        </div>
                    </li>



                    <li class="list-inline-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="~/assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            @Html.Partial("_LoginPartial")

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="mdi mdi-menu"></i>
                        </button>
                    </li>

                </ul>

            </nav>

        </div>

        <div class="left side-menu"  >
            <div class="sidebar-inner slimscrollleft" >
                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul >


                        <li>
                            <a href="@Url.Action("Index","Home")" class="waves-effect waves-primary">
                                <i class="ti-home"></i><span> الرئيسية </span>
                            </a>
                        </li>

                        <li class="menu-title">الإعدادات</li>

                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-gift"></i><span> إعدادات عامة </span><span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "Job")">الوظائف</a></li>
                                <li><a href="@Url.Action("Index1", "Nationality")">الجنسيات</a></li>
                                <li><a href="@Url.Action("Index1", "District")">الأحياء</a></li>
                                <li><a href="@Url.Action("Index1", "Branch")">الفروع</a></li>
                                <li><a href="@Url.Action("Index1", "Qualification")">المؤهلات</a></li>
                                <li><a href="@Url.Action("Index1", "Major")">التخصصات</a></li>
                                <li><a href="@Url.Action("Index1", "TeacherStatus")">حالة المعلم</a></li>
                                <li><a href="@Url.Action("Index1", "UserBranches")">ربط المستخدمين بالفروع </a></li>
                                <li><a href="@Url.Action("Index1", "BusSubscriptionFeesType")">أنواع الإشتراك</a></li>

                            </ul>
                        </li>




                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-map"></i><span> إعدادات سنوية </span><span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "EducationYear")">السنوات الدراسية</a></li>
                                <li><a href="@Url.Action("Index1", "EducationFee")">الرسوم الدراسية</a></li>
                                @*<li><a href="@Url.Action("Manage", "MigrateRows")">ترحيل الصفوف الدراسية</a></li>*@
                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> إعدادت الباصات </span> <span class="menu-arrow"></span>
                            </a>

                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "Bus")">تسجيل الباصات</a></li>
                                <li><a href="@Url.Action("Index1", "Driver")">تسجيل السائقين</a></li>
                                <li><a href="@Url.Action("Index1", "BusSubscriptionFee")">تسجيل رسوم الباص </a></li>
                                <li><a href="@Url.Action("Index1", "BusDistrict")"> توزيع الباصات علي الأحياء</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-email"></i><span> إعدادات الطلاب </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "Stage")">المراحل الدراسية</a></li>
                                <li><a href="@Url.Action("Index1", "EducationalGrade")">الصفوف الدراسية</a></li>
                                <li><a href="@Url.Action("Index1", "Class")">الفصول الدراسية</a></li>
                                <li><a href="@Url.Action("Index1", "Material")">المواد الدراسية </a></li>
                            </ul>
                        </li>





                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-menu-alt"></i><span> الصلاحيات </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Register", "Account")">تسجيل المستخدمين</a></li>
                                <li><a href="@Url.Action("Groups", "Roles")">تسجيل مجموعات المستخدمين</a></li>
                                <li><a href="@Url.Action("AppContollerRoles", "Roles")">توزيع الصلاحيات</a></li>
                                <li><a href="@Url.Action("AddRoles", "Roles")">اضافة صلاحية  </a></li>
                                <li><a href="@Url.Action("AddUserRoles", "Roles")">اضافة الصلاحيات للمستخدمين  </a></li>
                            </ul>
                        </li>


                        <li class="menu-title">الطلاب</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-paint-bucket"></i> <span> شئوون الطلاب </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Create","RegistrationStudent")">تسجيل الطلاب</a></li>
                                <li><a href="@Url.Action("Index1", "RegistrationStudent")">  الطلاب</a></li>
                                <li><a href="@Url.Action("Create","StudentPayment",new { id = 0})">تسجيل المدفوعات</a></li>
                                <li><a href="@Url.Action("Index1", "StudentPayment")">سندات المدفوعات</a></li>
                                <li><a href="@Url.Action("Index1", "StudentAttendence")"> الغياب اليومى</a></li>
                                <li><a href="@Url.Action("Index1", "StudentRecovery")">استرداد دفعات </a></li>

                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-light-bulb"></i><span> تقارير الطلاب </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index","StudentListsInClassReport")">قوائم الطلاب في الفصول</a></li>
                                <li><a href="@Url.Action("Index1", "StudentFeesReport")">تقرير مدفوعـات</a></li>
                                <li><a href="@Url.Action("ParentPhoneStudentReport","StudentFeesReport")">تقرير تليفونات</a></li>
                                <li><a href="@Url.Action("BusStudentReport","StudentFeesReport")">تقرير الباصات</a></li>
                                <li><a href="@Url.Action("Report", "StudentAttendence")">تقارير غياب الطلاب</a></li>

                                <li><a href="@Url.Action("Index1", "StudentFeesReport")">تقرير المدفوعات النسبي للطلاب</a></li>
                                <li><a href="@Url.Action("StudentPaymentStatement", "StudentFeesReport")">كشف حساب طالب</a></li>
                            </ul>
                        </li>
                        <li class="menu-title">الموظفين</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-spray"></i>
                                <span> شئون الموظفين </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Manage","RegistrationEmployee",new { id = 0})">تسجيل موظف</a></li>
                                <li><a href="@Url.Action("Index1","RegistrationEmployee")">الموظفين</a></li>
                                @*<li><a href="#">تسجيل رواتب الموظفين</a></li>*@
                                <li><a href="@Url.Action("Index1","EmployeeAttendance")">غياب الموظفين</a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-spray"></i>
                                <span> رواتب الموظفين </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">

                                <li><a href="@Url.Action("Index1","PayrollItem")">بنود الرواتب</a></li>
                                <li><a href="@Url.Action("Index1","PayrollData")">بيانات رواتب الموظفين</a></li>
                                <li><a href="@Url.Action("Index1","MonthlySalary")">المتغيرات الشهرية</a></li>

                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-pencil-alt"></i><span> تقارير الموظفين </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Report","EmployeeAttendance")">تقرير غياب الموظفين</a></li>
                                <li><a href="@Url.Action("Index1","EmployeeSalaryReports")">تقرير رواتب الموظفين</a></li>
                            </ul>
                        </li>

                        <li class="menu-title">الإدارة</li>
                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-stats-up"></i><span> شئون الأدارة </span><span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "SchoolExpenses")">مصروفات المدرسة</a></li>
                                <li><a href="@Url.Action("Reports", "SchoolExpenses")">تقرير مصروفات المدرسة</a></li>
                                <li><a href="@Url.Action("Revenuesandexpenses", "SchoolExpenses")">تقرير مصروفات وايرادات المدرسة</a></li>
                                <li><a href="#">إحصائيات</a></li>
                            </ul>
                        </li>


                        @*<li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect waves-primary">
                                <i class="ti-files"></i><span> حضور الموظفين </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index1", "EmployeeAttendance")">تسجيل الحضور</a></li>
                                <li><a href="@Url.Action("EmpAttendanceReport", "EmployeeAttendance")">تقرير حضور الموظفين</a></li>

                            </ul>
                        </li>*@

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">

                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- /Right-bar -->

    </div>
    <!-- END wrapper -->



    <script>
        var resizefunc = [];
    </script>


    <!-- Plugins  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @*<script src="~/assets/js/jquery.min.js"></script>*@



    @*<script src="~/assets/js/jquery.min.js"></script>*@

    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/plugins/switchery/switchery.min.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.extention.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <!-- Required datatable js -->
    @*<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables/jszip.min.js"></script>
        <script src="~/plugins/datatables/pdfmake.min.js"></script>
        <script src="~/plugins/datatables/vfs_fonts.js"></script>
        <script src="~/plugins/datatables/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables/buttons.print.min.js"></script>
        <script src="~/plugins/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script>*@



    @*-----------------------------------------Start DataTable------------------------------------------------*@

    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <script src="~/plugins/select2/js/select2.min.js" type="text/javascript"></script>

    <!-- Required datatable js -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>
    @*-----------------------------------------End DataTable------------------------------------------------*@

    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/Scripts/bootstrap-fileinput/js/fileinput.min.js"></script>
    <!-- Counter Up  -->
    <script src="~/plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- circliful Chart -->
    <script src="~/plugins/jquery-circliful/js/jquery.circliful.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>



    <!-- skycons -->
    <script src="~/plugins/skyicons/skycons.min.js" type="text/javascript"></script>

    <!-- Page js  -->
    <script src="~/assets/pages/jquery.dashboard.js"></script>

    <script src="~/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/plugins/custombox/dist/legacy.min.js"></script>
    <!-- Custom main Js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>



    @RenderSection("scripts", required: false)



    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });
            $('.circliful-chart').circliful();
        });

        // BEGIN SVG WEATHER ICON
        if (typeof Skycons !== 'undefined') {
            var icons = new Skycons(
                { "color": "#3bafda" },
                { "resizeClear": true }
            ),
                list = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

            for (i = list.length; i--;)
                icons.set(list[i], list[i]);
            icons.play();
        };

    </script>


</body>
</html>





