﻿
@model SchoolSystem.ViewModel.ViewModel.EducationYearVM


<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "EducationYear", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);


        <div class="form-group">
            <label class="col-2 col-form-label">اسم السنة الدراسية</label>
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.NameAr, new { @class = "form-control", required = "required", placeholder = "ادخل اسم السنة الدراسية" })
                @Html.ValidationMessageFor(model => model.NameAr, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
            </div>



            <label class="col-2 col-form-label">تاريخ البداية</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="StartDate" name="StartDate" />

                @*@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
            </div>

            <label class="col-2 col-form-label">تاريخ النهاية</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="EndDate" name="EndDate" />
                @*@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
            </div>

            <label class="col-2 col-form-label"> السنة الحالية</label>


            @Html.CheckBoxFor(model => model.IsDefault, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })

            <div class="col-md-1">
            </div>



        </div>



        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>


@*<script>
        $(function () {
            $("#StartDate").datepicker();
        });
        $(function () {
            $("#EndDate").datepicker();
        });
    </script>*@

<script>
    $(function () {
        $("#StartDate").datepicker().datepicker("setDate", new Date());
        $("#EndDate").datepicker().datepicker("setDate", new Date());

    });
</script>