﻿
@model SchoolSystem.ViewModel.ViewModel.EducationFeeFM


<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "EducationFee", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);

        <div class="form-group row">
            <label class="col-2 col-form-label">المراحل الدراسية </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.StageId, (List<SelectListItem>
    )ViewBag.StageList, new { @class = "form-control select2",@onchange = "getEducationalGradeList(this.value)" })

    @Html.ValidationMessageFor(model => model.StageId, "", new { @class = "text-danger" })
</div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الصف الدراسية </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.EducationalGradeId, (List<SelectListItem>)ViewBag.EducationalGradeList, new { @class = "form-control select2" })

                @Html.ValidationMessageFor(model => model.EducationalGradeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">الرسوم الدراسية</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.EducationFeesAmount, new { @class = "form-control", required = "required" })
            </div>
        </div>


        <div class="form-group row">
            <label class="col-2 col-form-label">رسوم التسجيل</label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.RegistrationFeesAmount, new { @class = "form-control", required = "required" })
            </div>
        </div>












        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>

@section Scripts{

<script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true      ,
            dir: "rtl",
            
        });



</script>
    <script>
        function getEducationalGradeList(stageId) {
            stageId = stageId ? stageId : 0;

            $.ajax
                ({
                    url: '/RegistrationStudent/GetEducationalGradeList',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: stageId
                    }),
                    success: function (result) {
                        $("#EducationalGradeId").html("");
                        $("#EducationalGradeId").append
                            ($('<option></option>').val(null).html("--اختر--"));
                        $("#EducationalGradeId").html("");
                        $("#EducationalGradeId").append
                            ($('<option></option>').val(null).html("--اختر--"));
                        $.each((result), function (i, edu) {

                            $("#EducationalGradeId").append
                                ($('<option></option>').val(edu.Value).html(edu.Text))
                        })
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }

    </script>
}
