﻿
@model IEnumerable<SchoolSystem.ViewModel.ViewModel.EducationFeeVM>
    @{ 
        Layout = null;
    }

@if (Model != null)
{
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <table class="table table-hover table-bordered datatable" style="width:1000px;" width="100%">
                <thead style="background-color:#3bafda;color:white;">
                    <tr>
                        <th>التسلسل</th>
                        <th>السنة الدراسية </th>
                        <th>الفرع  </th>
                        <th>الصف  </th>
                        <th>الرسوم الدراسية  </th>
                        <th>رسوم التسجيل  </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.EducationYearName</td>
                        <td>@item.BranchName</td>
                        <td>@item.EducationGardnName</td>
                        <td>@item.EducationFeesAmount</td>
                        <td>@item.RegistrationFeesAmount</td>

                       @if (ViewBag.EditAddRole != 0)
                        {
                    <td><a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success   waves-effect waves-light m-b-0"><i class="ti-pencil"></i></a></td>
                        }
                        @if (ViewBag.DeleteRole != 0)
                        {
                        <td>
                            <button type="button" class="btn btn-danger  waves-effect waves-light m-b-0" onclick="Delete(@item.Id)">  <i class="ti-trash"></i></button>

                        </td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
}
        <script type="text/javascript">
            $(function () {
                $('.datatable').DataTable();

                //Buttons examples
                var table = $('#datatable-buttons').DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                table.buttons().container()
                        .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
            });


        </script>




