﻿
@model SchoolSystem.ViewModel.ViewModel.PayrollDataFM




<div class="card-box">
    <h4 class="m-t-0 header-title">@ViewBag.Title</h4>
</div>
<div class="card-box">
    @using (Html.BeginForm("Create", "PayrollData", FormMethod.Post, new { @style = "margin-bottom: 11px;", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(i => i.Id);

        <div class="form-group row">
            <label class="col-2 col-form-label">اسم الموظف</label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.EmployeeId, (List<SelectListItem>)ViewBag.EmployeeList, new { @class = "form-control select2" })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">نوع الراتب </label>
            <div class="col-10">
                @Html.DropDownListFor(x => Model.PayrollItemId, (List<SelectListItem>)ViewBag.PayrollItemList, new { @class = "form-control select2" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">نوع الراتب </label>
            <div class="col-10">
                @Html.TextBoxFor(i => i.Value, new { @class = "form-control", required = "required" })

            </div>
        </div>


        <div class="col-lg-12" style="text-align: left;">
            <button type="submit" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">حفظ</button>
            <a href="@Url.Action("Index1","PayrollData")" class="btn btn-primary btn-rounded w-md waves-effect waves-light m-b-5">عودة</a>
        </div>
    }
    <div class="clearfix"></div>
</div>




@section Scripts{

<script type="text/javascript">
        $(".select2").select2({
            selectOnClose: true        ,
            dir: "rtl",
            
        });



</script>
}
